
h1 {
    font-size: 3rem;
    color: var(--text);
}

.home {
    margin: 6rem 1.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.themes {
    margin: 6rem 1.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.languages {
    margin: 6rem 1.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    margin: 6rem 1.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.terms {
    margin: 6rem 1.25rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}