
:root{

}

nav {
    position: fixed;
    z-index: 9999;

    display: flex;
    align-items: center;

    height: 3.5rem;
    width: 100%;
}

nav .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--crust);
    border-radius: var(--border-radius);

    padding: 0 1rem 0 1.5rem;
    margin: 1.5rem;
    height: 100%;
    width: 100%;
}

nav .logo-banner {
    height: 100%;
    width: 10rem;

    background-image: url("../assets/logo-text.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

nav ul {
    list-style: none;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul .nav-search {
    margin-left: 1rem;
    padding-left: 2.2rem;
    border: none;
    outline: none;
    width: 9rem;

    font-family: "Urbanist", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;

    color: var(--crust);

    background-image: url("../assets/icons/search.svg");
    background-repeat: no-repeat;
    background-position: 0.5rem 0.24rem;
    border-radius: var(--border-radius);

    /*background-color: var(--overlay-2);*/
    height: 1.9rem;
}
nav ul input::placeholder {
    color: var(--surface-1);
}

nav ul li a{
    padding: 0.55rem 1.75rem 0.55rem 1.75rem;
    border-radius: 1rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.05rem;
    color: var(--subtext-1)
}
nav ul li a:hover{
    color: var(--bright-text);
    background-color: var(--mantle);
}