
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-size: 16px;
    font-family: "Urbanist", sans-serif;
    --border-radius: 24px; /* 1.5rem = 16px*1.5 = 24px */

    /* Catppuccin Macchiato */

    --rosewater: hsl(10deg, 58%, 90%);
    --flamingo: hsl(0deg, 58%, 86%);
    --pink: hsl(316deg, 74%, 85%);
    --mauve: hsl(267deg, 83%, 80%);
    --red: hsl(351deg, 74%, 73%);
    --maroon: hsl(355deg, 71%, 77%);
    --peach: hsl(21deg, 86%, 73%);
    --yellow: hsl(40deg, 70%, 78%);
    --green: hsl(105deg, 48%, 72%);
    --teal: hsl(171deg, 47%, 69%);
    --sky: hsl(189deg, 59%, 73%);
    --sapphire: hsl(199deg, 66%, 69%);
    --blue: hsl(220deg, 83%, 75%);
    --lavender: hsl(234deg, 82%, 85%);

    --bright-text: hsl(227deg, 68%, 93%);
    --text: hsl(227deg, 68%, 88%);
    --subtext-1: hsl(228deg, 39%, 80%);
    --subtext-0: hsl(227deg, 27%, 72%);

    --overlay-2: hsl(228deg, 20%, 65%);
    --overlay-1: hsl(228deg, 15%, 57%);
    --overlay-0: hsl(230deg, 12%, 49%);

    --surface-2: hsl(230deg, 14%, 41%);
    --surface-1: hsl(231deg, 16%, 34%);
    --surface-0: hsl(230deg, 19%, 26%);

    --base: hsl(232deg, 23%, 18%);
    --mantle: hsl(233deg, 23%, 15%);
    --upper-crust: hsl(236deg, 23%, 15%);
    --crust: hsl(236deg, 23%, 12%);


    /* Catppuccin Mocha */

    /*--rosewater: hsl(10deg, 56%, 91%);*/
    /*--flamingo: hsl(0deg, 59%, 88%);*/
    /*--pink: hsl(316deg, 72%, 86%);*/
    /*--mauve: hsl(267deg, 84%, 81%);*/
    /*--red: hsl(343deg, 81%, 75%);*/
    /*--maroon: hsl(350deg, 65%, 77%);*/
    /*--peach: hsl(23deg, 92%, 75%);*/
    /*--yellow: hsl(41deg, 86%, 83%);*/
    /*--green: hsl(115deg, 54%, 76%);*/
    /*--teal: hsl(170deg, 57%, 73%);*/
    /*--sky: hsl(189deg, 71%, 73%);*/
    /*--sapphire: hsl(199deg, 76%, 69%);*/
    /*--blue: hsl(217deg, 92%, 76%);*/
    /*--lavender: hsl(232deg, 97%, 85%);*/

    /*--text: hsl(226deg, 64%, 88%);*/
    /*--subtext-1: hsl(227deg, 35%, 80%);*/
    /*--subtext-0: hsl(228deg, 24%, 72%);*/

    /*--overlay-2: hsl(228deg, 17%, 64%);*/
    /*--overlay-1: hsl(230deg, 13%, 55%);*/
    /*--overlay-0: hsl(231deg, 11%, 47%);*/

    /*--surface-2: hsl(233deg, 12%, 39%);*/
    /*--surface-1: hsl(234deg, 13%, 31%);*/
    /*--surface-0: hsl(237deg, 16%, 23%);*/

    /*--base: hsl(240deg, 21%, 15%);*/
    /*--mantle: hsl(240deg, 21%, 12%);*/
    /*--crust: hsl(240deg, 23%, 9%);*/
}