@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    margin: 1%;
    padding: 2px 3%;
    height: 75px;
    background: rgba(0, 0, 0, 0.35);
}

.logo_text{
    height: 35px;
}

input::placeholder {
    color: rgba(20, 24, 36, 0.7);
}

.nav-search {
    background-image: url("../assets/icons/search.svg");
    background-repeat: no-repeat;
    background-position: 12px 8px;

    border: none;
    outline: none;
    padding: 10px 80px 10px 42px;
    border-radius: 20px;

    font-family: "Urbanist", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.64px;
    color: rgba(20, 24, 36, 1);
}

.toggle_light_mode {
    height: 34px;
}

span {
    color: white;
    font-family: "Urbanist", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.64px;
}